<h2>@appointment.appointment_datetime.strftime('%B %e, %Y at %k:%M')</h2>
<p>Patient: <%= link_to @appointment.patient.name, @appointment.patient %></p>
<p>Doctor: <%= link_to @appointment.doctor.name, @appointment.doctor %></p>
